data/ACLED/Africa_1997-2024_May24.csv
data/ACLED/Asia-Pacific_2018-2024_May24.csv
data/ACLED/civilians_May24-1.csv
data/ACLED/coronavirus_May24.csv
data/ACLED/Europe-Central-Asia_2018-2024_May24.csv
data/ACLED/gender_May24-1.csv
data/ACLED/healthworkers_May24.csv
data/ACLED/journalists_May24.csv
data/ACLED/LatinAmerica_2018-2024_May24.csv
data/ACLED/local_administrators_May24.csv
data/ACLED/MiddleEast_2015-2024_May24.csv
data/ACLED/peacekeeping_Mar15.xlsx
data/ACLED/USA_Canada_2020_2024_May24.csv
